<header>
    <nav>
        <h3 class="title">Just In Time</h3>
        <ul class="navbar navbar-left">
            <li>
                <a href="/">Today's to-do</a>
            </li>
            <li>
                <a href="/new-list">New To-do list</a>
            </li>
            <li>
                <a href="/next-task">Next Task</a>
            </li>
        </ul>
        <ul class="navbar navbar-right">
            <li>
                <a href="/signup">Create Account</a>
            </li>
        </ul>
    </nav>
</header>