<table class="table">
    <caption>Tasks for today</caption>
    <button class="btn btn-outline">Add task</button>
    <thead>
        <tr>
            <th scope="col">Task id</th>
            <th scope="col">Task</th>
            <th scope="col">Due</th>
            <th scope="col">Edit</th>
            <th scope="col">Done</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="id">1</td>
            <td id="task">Something to do</td>
            <td id="status"><span class="btn-outline">Todo</span></td>
            <td id="edit"><button class="btn btn-primary"><i class="fas fa-pencil"></i></button></td>
            <td id="delete"><button class="btn btn-grey"><i class="fas fa-bin"></i></button></td>
        </tr>
    </tbody>
</table>